.tracks-list {
    width: min(900px, 100%);
    max-height: 70%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.25) transparent;

    background:
            radial-gradient(
                    circle at 50% 0%,
                    rgba(255, 255, 255, 0.07),
                    transparent 45%
            ),
            linear-gradient(
                    145deg,
                    rgba(255, 255, 255, 0.045),
                    rgba(255, 255, 255, 0.015)
            );

    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 24px;

    box-shadow:
            0 25px 80px rgba(0, 0, 0, 0.45),
            inset 0 1px 0 rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(20px);
}

.tracks-list::-webkit-scrollbar {
    width: 5px;
}

.tracks-list::-webkit-scrollbar-track {
    background: transparent;
    margin: 14px 0;
}

.tracks-list::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    transition: background 0.3s ease;
}

.tracks-list::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
}
.track-list-hidden {
    visibility: hidden;
}