.song-thumbnail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(5vw, 8vw, 22vw);
    height: auto;
    z-index: 200;
}
.visualiser__canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.music-lyrics-visualisator {
    overflow-y: hidden;
}