.intro-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Jersey15", sans-serif;
    font-size: clamp(8vw, 10vw + 34px, 12vw);
    width: 100%;
    text-align: center;
    z-index: -1;
}
.intro-word-hidden {
    visibility: hidden;
    pointer-events: none;
}